---
import Es from "@/languages/es.json";
import En from "@/languages/en.json";

const { lang } = Astro.props;
const language = lang === "es" ? Es : En;
---

<section style="background: #050505;" class="text-white w-full flex justify-center">
  <div class="w-full max-w-pag">
    <div class="flex gap-6"> 
      <ul>
        <h2>{language.footer.socials}</h2>
        <li><a href="/#"><i class="bi bi-discord"></i> Discord</a></li>
        <li><a href="#"><i class="bi bi-twitter-x"></i> Twitter</a></li>
      </ul>
      <ul>
        <h2>{language.footer.sections.title}</h2>
        <li><a href="#"><i class="bi bi-info"></i> {language.footer.sections.information}</a></li>
        <li><a href="#"><i class="bi bi-person"></i> {language.footer.sections.projects}</a></li>
        <li><a href="#"><i class="bi bi-telephone"></i> {language.footer.sections.contact}</a></li>
      </ul>
    </div>
  </div>
</section>
<style>
  h2 {
    font-weight: bold;
    font-size: 1.10rem;
  }
</style>