---
interface Props {
	title: string;
	description: string;
	lang: string;
}

const { title, description, lang } = Astro.props;
const { currentLocale } = Astro;

import Header from '@/components/layout/Header.astro';
import Footer from '@/components/layout/Footer.astro';
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="alternate" hreflang="es" href="https://tu-sitio.com/es/" />
    <link rel="alternate" hreflang="en" href="https://tu-sitio.com/en/" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header lang={lang} />
		<slot />
	</body>
</html>
<style is:global>
	body {
		background: #303030;
	}
</style>